<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="board"> 
   <!-- 게시글 목록 출력 -->
 <select id="listAll" resultType="com.retro.domain.board.BoardDTO">
	<include refid="paging_header"/>
	SELECT bno, title, content, writer, m.id, viewcnt, replycnt, goodcnt, b.regdate
	FROM tbl_board b, tbl_member m
	<include refid="search"/>
	<if test="sort_option == 'new'">
		ORDER BY bno DESC
	</if>
	<if test="sort_option == 'good'">
		ORDER BY goodcnt DESC, bno DESC
	</if>
	<if test="sort_option == 'reply'">
		ORDER BY replycnt DESC, bno DESC
	</if>
	<if test="sort_option == 'view'">
		ORDER BY viewcnt DESC, bno DESC
	</if>
   <include refid="paging_footer"/>    
	</select>  
	<sql id="paging_header">
		SELECT * 
		FROM(
			SELECT rownum AS rnum, A.*
			FROM (						
	</sql> 
	<sql id="paging_footer">
		) A
	) WHERE rnum BETWEEN #{start} AND #{end}
	</sql> 
	<!-- 레코드 갯수 계산 -->
	<select id="countArticle" resultType="int">
		SELECT COUNT(*)
		FROM tbl_board b, tbl_member m
		<include refid="search"/>	<!-- id가 search인 sql문에 입력 -->
	</select>	
	<sql id="search">
		<choose>
			<when test="search_option != 'all'">
				<if test="search_option == 'title'">
					  WHERE b.writer = m.id
					  AND title LIKE #{keyword}
				</if>
				<if test="search_option == 'writer'">
					 WHERE b.writer = m.id
					  AND writer LIKE #{keyword}
				</if>
				<if test="search_option == 'content'">
						WHERE b.writer = m.id
					  AND content LIKE #{keyword}
				</if>
			</when>
			<otherwise>
				WHERE b.writer = m.id
				AND (writer LIKE #{keyword}
					 OR title LIKE #{keyword}
					 OR content LIKE #{keyword})
			</otherwise>
		</choose>
	</sql>
	
	<select id="read" resultType="com.retro.domain.board.BoardDTO">
	 SELECT * FROM tbl_board
	 WHERE bno = #{bno}		
	</select>
	
	<update id="increaseViewCnt">
		Update tbl_board
			SET viewcnt = viewcnt +1
		WHERE bno = #{bno}		
	</update>
	
	<!-- 해당 게시글 리플 +1 -1 -->
	
	<update id="updateReplyCnt" parameterType="HashMap">
		Update tbl_board SET
		<if test="flag == 'plus'">
		replycnt = replycnt +1		
		</if>
		<if test="flag == 'minus'">
		replycnt = replycnt - 1		
		</if>	
		WHERE bno = #{bno}
	</update>
	<insert id="create" parameterType="com.retro.domain.board.BoardDTO">	
		 INSERT INTO tbl_board(bno,title,content,writer)
 		 VALUES (SEQ_BOARD.nextval,#{title},#{content},#{writer})	
 	 <selectKey keyProperty="bno" resultType="Integer" order="AFTER">
	 	SELECT seq_board.CURRVAL FROM dual
	 </selectKey>	
	</insert>
	<update id="update" parameterType="com.retro.domain.board.BoardDTO">
		UPDATE tbl_board
		 SET title = #{title},	
		 content = #{content}	
		WHERE bno = #{bno}		
	</update>
	<delete id="delete" parameterType="com.retro.domain.board.BoardDTO">
		DELETE FROM tbl_board
	     WHERE bno = #{bno}		
	</delete>
	
	
   </mapper> 