.gallery {
	margin-top: 200px;
	text-align: center;
	padding-top: 80px;		
	
}

.gallery ul {
	list-style: none;
}
/* .layer li {
			text-decoration: none;
		} */
.gallery img {
	width: 280px;
	border: solid #FFD8D8 1px;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2), 0 2px 10px 0  #FADAE5;
	height: auto !important;
	text-decoration: none;
	padding: 7px;
}

.gallery .desc {
	display: inline-block;
	margin: 0 auto;
	list-style-type: none;
	height: 60px;
	/* opacity: 0.0;   */
}

.gallery #gucci {
	height: 350px;
	display: inline-block;
	margin: 0 auto;
	opacity: 0.0;
}

.gallery #gucci:hover {
	opacity: 0.9;
	font-size: 30px;
}